name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allow rebuilds via API.
  repository_dispatch:
    types: rebuild

concurrency:
  group: run_tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            label: linux-64
            prefix: /usr/share/miniconda3/envs/my-env

          #- os: macos-latest
          #  label: osx-64
          #  prefix: /Users/runner/miniconda3/envs/my-env

          #- os: windows-latest
          #  label: win-64
          #  prefix: C:\Miniconda3\envs\my-env

    name: ${{ matrix.label }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: conch
          create-args: >-
            python=3.9
          cache-environment: true

      - name: Download and set up Praat
        run: |
          wget https://www.fon.hum.uva.nl/praat/praat6417_linux-intel64-barren.tar.gz -O praat.tar.gz
          tar -xvzf praat.tar.gz
          echo "praat=$(pwd)/praat_barren" >> $GITHUB_ENV

      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest -x ./tests

      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@v3"
        with:
          file: ./coverage.xml
          fail_ci_if_error: false
